.citys{
    display: flex;
    flex-direction: column;
    margin: 0 auto;  
    width: 984px;
}
.city{
    display: flex;
    flex-direction: column;
}
.city__title{
    width: 458.6px ;
    font-family: 'Inter';
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 92px 150px auto;
}
.city__cdd{
display: flex;
}
.city__boxs{
    display: flex;
    flex-direction: column;
}
.city__imagen{
    width: 458.6px;
    height: 460px;
    margin: 48px 40px 0 150px  ;
}
.city__cdd_city__cdd__text{
flex-direction: column;
}
.city__sub-title{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    width: 454.61px;
    margin: 0;
    position: relative;
    top: -31px;
}
.city__span{
    width: 57.82px;
    opacity: 70%;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12em;
    color: #AAAAAA;
    position:absolute;
    top: -24px;
}
.city__text{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    width: 482.53px;
    margin: 26px 0 25px;
}
.city__boxs_city__box{
    display: flex;
    position: relative;
    background-color:#0278FE;
    width: 284.13px;
    border-radius: 4px;
    text-align: center;
    width: 245px;
    margin: 48px 0 0 150px; 
    border: none;
}
.city__nft{
    text-decoration: none;
    color: #fff;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: center;
    width: 245px;
    margin: 13px auto;
}
