.Criccieth{
    display: flex;
    flex-direction: column; 
}
.Criccieth__title{
    font-family: 'Inter';
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    width:400px;
    margin: 92px 150px auto;
}
.Criccieth__cdd{
    display: flex;
}
.Criccieth__boxs{
    display: flex;
    flex-direction: column;
}
.Criccieth__imagen{
    width: 458.6px;
    margin: 48px 40px 0 150px  ;
}
.Criccieth__boxs_Criccieth__box{
    display: flex;
    position: relative;
    background-color: #0278FE;
    width: 284.13px;
    border-radius: 4px;
    margin: 48px 0 0 150px;
}
.Criccieth__nft{
 font-family: 'Inter';
 font-size: 18px;
 font-weight: 600;
 line-height: 21.78px;
 text-align: center;
 width: 245px;
 margin: 13px auto;
}
.Criccieth__cdd_Criccieth__text{
    flex-direction: column;
}
.Criccieth__sub-title{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    margin: 0  ;
    width: 266.40px;
    top:-50px;
}
.Criccieth__span{
    width: 57.82px;
    opacity: 70%;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12em;
    color: #AAAAAA;
    position:absolute;
    top: -24px;
}
.Criccieth__text-3{
    position: relative;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 482.53px;
    top: -36px;
}
.Criccieth__text-4{
    position: relative;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    width: 482.53px;
    margin: 0 auto;
    top: -29px;
}