.footer {
    display: flex;
    color: #2A2C2F;
    margin: 92px 0 0;
    color: #fff;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1184px;
    opacity: 0.3px;
    background-image: url(../image/__backgroundfooder.png);
    background-position: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    text-align: center;
    margin: 92px auto 0;
}

.title {
    font-family: 'Inter';
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    width: 656px;
    margin: 243px auto 0;
    color: #FFFDFD;
}

.text {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    width: 220px;
    margin: 32px auto 0;
}
.cover{
    height: 740px;
}
.cover__btn {
    background-color: #0278FE;
    display: flex;
    width: 151px;
    height: 22px;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 19px;
    color: #fff;
    font-weight: 600;
    line-height: 21.78px;
    padding: 13px 20px 13px 20px;
    margin: 32px auto;
    text-align: center;
}

.footer__boxs_footer__box {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 19px;
    color: #fff;
    font-weight: 600;
    line-height: 21.78px;
    margin: 13px 20px 13px 20px;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 24px;
}

@media screen and (max-width: 768px) {
    .card {
        display: flex;
        width: 768px;
        flex-direction: column;
        text-align: center;
        background-repeat: no-repeat;
        text-align: center;
        margin: 92px auto 0;
    }
    
    .title {
        width: 656px;
        margin: 243px auto 0;
    }
    
    .text {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        width: 220px;
        margin: 32px auto 0;
    }
    .cover__btn {
        margin: 13px auto 13px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 0;
    }

    .card {
        margin: 64px 0 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        margin: 46px 16px 16px;
        color: #FFFDFD;
    }

    .cover {
        display: flex;
        height: 254px;
        flex-direction: column;
    }

    .text {
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        width: 220px;
        margin: 0 auto 16px;
    }

    .cover__btn {
        margin: 0 auto 45px;
    }
}