.fooder{
display: flex;
color: #2A2C2F;
}
.footer__card{
display: flex;
flex-direction: column;
text-align: center;
width: 1184px;
opacity: 0.3px;
background-image:url(../image/__backgroundfooder.png);
background-size: cover;
margin: auto;
}
.footer__title{
    font-family: 'Inter';
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    width: 656px;
    margin: 243px auto 0; 
}
.footer__text{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    width: 220px;
    margin: 32px auto 0;
}
.footer__card_footer__boxs{
background-color: #0278FE;
width: 230px;
border-radius: 4px;
margin: 32px auto 243px;
}
.footer__boxs_footer__box{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    margin:13px 20px 13px 20px ;
}
.footer__copyright{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 92px 0 0 0 ;
}