.kyev{
    display: flex;
    flex-direction: column;
}
.kyev__title{
    width: 458.6px ;
    font-family: 'Inter';
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 92px 150px auto;
}
.kyev__cdd{
display: flex;
}
.kyev__boxs{
    display: flex;
    flex-direction: column;
}
.kyev__imagen{
    width: 458.6px;
    margin: 48px 40px 0 150px  ;
}
.kyev__cdd_kyev__cdd__text{
flex-direction: column;
}
.kyev__sub-title{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    width: 454.61px;
    margin: 0;
    position: relative;
    top: -20px;
}
.kyev__span{
    width: 57.82px;
    opacity: 70%;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12em;
    color: #AAAAAA;
    position:absolute;
    top: -24px;
}
.kyev__text-1{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    width: 482.53px;
    margin: 33px 0 25px;
}
.kyev__text-2{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    width: 482.53px;    
}
.kyev__boxs_kyev__box{
    display: flex;
    position: relative;
    background-color:#0278FE;
    width: 284.13px;
    border-radius: 4px;
    margin: 48px 0 0 150px; 
}
.kyev__nft{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: center;
    width: 245px;
    margin: 13px auto;
}
