.page{
    max-width:100%;
    max-height: 100%;
    background-color:#2A2C2F;
    color: #ffffff;
    background-size: cover;
    font-family: 'Inter' "Arial",  sans-serif;
    margin: 0 auto;
}

.opacity:hover{
    opacity: 80%;
}