/*import normalaize*/
@import url(../vendor/normalize.css);

/*import page */
@import url(../blocks/page.css);

/*import do header*/
@import url(../blocks/header.css);

/*import do gallery*/
@import url(../blocks/intro.css);

/*import do gallery*/
@import url(../blocks/gallery.css);

/*import do grid*/
@import url(../blocks/grid.css);

/*import do kyev*/
@import url(../blocks/citys.css);

/*import do footer*/
@import url(../blocks/footer.css);